<p class="notice"><%= notice %></p>

<% content_for :title, "GorillaCars" %>

<h1>Машины</h1>

<% if flash[:notice] %>
  <p class="alert alert-success"><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
  <p class="alert alert-danger"><%= flash[:alert] %></p>
<% end %>
<div id="cars">
  <% @cars.each do |car| %>
    <div class="car">
      <h3><%= car.brand %> <%= car.model %></h3>
      <p><%= link_to "Показать машину: #{car.brand} #{car.model}", car_path(car), class: 'btn-show-car' %></p>
    </div>
  <% end %>
</div>


<%= link_to "Добавить машину", new_car_path, class: 'btn-add-car' %>
<%= link_to 'Назад на главную', root_path, class: 'btn btn-back' %>