<h1><%= @car.brand %> <%= @car.model %></h1>

<table class="car-details">

  <tr>
    <th>Цена:</th>
    <td><%= @car.price %> руб.</td>
  </tr>


  <tr>
    <th>Год выпуска:</th>
    <td><%= @car.year %></td>
  </tr>

  <tr>
    <th>Изображение машины:</th>
    <td>
      <% if @car.images.attached? %>
        <div class="car-images">
          <% @car.images.each do |image| %>
            <%= image_tag image, size: "300x300", class: "centered-image" %>
          <% end %>
        </div>
      <% else %>
        <p>Изображений нет.</p>
      <% end %>
    </td>
  </tr>


  <tr>
    <th>Описание машины:</th>
    <td>
      <% if @car.description.present? %>
        <p><%= @car.description %></p>
      <% else %>
        <p>Описание не добавлено.</p>
      <% end %>
    </td>
  </tr>
</table>



<%= link_to 'Редактировать', edit_car_path(@car), class: 'btn-edit' %>


<%= form_with(model: @car, method: :delete) do |form| %>
  <%= form.submit 'Удалить машину', class: 'delete-button', data: { confirm: 'Вы уверены, что хотите удалить эту машину?' } %>
<% end %>



<%= link_to 'Назад', cars_path, class: 'btn-back' %>