<h1>Список продаж</h1>

<table>
  <thead>
  <tr>
    <th>Машина</th>
    <th>Клиент</th>
    <th>Сотрудник</th>
    <th>Цена продажи</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <% @sales.each do |sale| %>
    <tr>
      <td><%= sale.car.brand %> <%= sale.car.model %></td>
      <td><%= sale.customer.first_name %> <%= sale.customer.last_name %></td>
      <td><%= sale.employee.first_name %> <%= sale.employee.last_name %></td>
      <td><%= sale.sale_price %> руб.</td>
      <td>
        <%= link_to 'Показать', sale_path(sale),class:'btn btn-show' %> |
        <%= link_to 'Редактировать', edit_sale_path(sale),class:'btn-edit' %> |
        <%= form_with(model: sale, method: :delete, local: true) do |form| %>
          <%= form.submit 'Удалить', class: 'delete-button', data: { confirm: 'Вы уверены, что хотите удалить эту продажу?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Добавить продажу', new_sale_path,class:'btn btn-add' %>
<%= link_to 'Назад на главную', root_path, class: 'btn btn-back' %>