<h1>Продажа машины</h1>

<p><strong>Машина:</strong> <%= @sale.car.brand %> <%= @sale.car.model %></p>
<p><strong>Клиент:</strong> <%= @sale.customer.first_name %> <%= @sale.customer.last_name %></p>
<p><strong>Сотрудник:</strong> <%= @sale.employee.first_name %> <%= @sale.employee.last_name %></p>
<p><strong>Цена продажи:</strong> <%= @sale.sale_price %> руб.</p>

<%= link_to 'Редактировать', edit_sale_path(@sale),class:'btn-edit' %> |
<%= link_to 'Назад', sales_path,class:'btn-back' %>